*{
    padding: 0px;
    margin: 0px;
}

.card{
    padding: 1rem;
    box-shadow: 0px 0px 5px 0px rgb(180, 180, 180);
    width: 350px;
}

.card .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgb(180, 180, 180);
    background: grey;
}

.card .title{
    font-size: 2rem;
    font-weight: bold;
}

.card .description{
    font-size: medium;
    text-align:center;
    width:100%;
}

.break{
    border-bottom: 0.5px solid rgb(224, 224, 224);
    width: 100%;
    margin: 4rem 0rem;
}

.story{
    width: 80%;
    margin: 2rem 0rem;
}

.story .matter{
    width:inherit;
    margin: 2rem;
}

.story .title{
    font-size: 4rem;
    font-weight: bold;
}

.story .description{
    font-size: 1.2rem;
}

.story .image{
    width: 500px;
    height: 400px;
    background: rgb(185, 185, 185);
}

.footer{
    margin-bottom: 4rem;
}

.link{
    color: dodgerblue;
}